/* Reset CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*#################################*/


/* Navigation Bar Styles */


/*#################################*/

.navbar {
    display: flex;
    background-color: #333;
    padding: 1px;
    justify-content: space-between;
    align-items: flex;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: auto;
    padding-left: 0px;
    padding-right: 15px;
}

.navbar li {
    margin: 0 10px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s;
}

.navbar a:hover {
    color: #4CAF50;
}

.logo img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: transparent;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}


/*#################################*/


/* style for the logo */


/*#################################*/

.nav-logo {
    margin-right: 0%;
}

.nav-logo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}

.nav-logo img:hover {
    transform: scale(1.1);
}


/*##########################################*/


/*            WEATHER CONTENT STYLING             */


/*##########################################*/

.main {
    background: linear-gradient(rgba(5, 22, 26, 0.2), rgba(5, 22, 26, 0.2)), url("https://images.unsplash.com/photo-1621274403997-37aace184f49?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1"), linear-gradient(135deg, #1f4e69 0, #164058 100%);
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 140px 0 160px 0;
}

.hero {
    height: 150px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: 0;
    margin-top: 3rem;
    color: #fff;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 20px;
}

.mid-header {
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.mid-header,
.mid-text {
    text-align: center;
}


/*#################################*/


/* How it Works Section Styles */


/*#################################*/

.how-it-works {
    padding: 50px;
    text-align: center;
}

.how-it-works h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.how-it-works p {
    font-size: 18px;
    margin-bottom: 20px;
}


/*#################################*/


/* Image style  for weather icon */


/*#################################*/

header .image {
    position: relative;
    text-align: center;
    margin: 0 auto;
    width: 300px;
    height: 250px;
}

.placeholder {
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ccc;
    border-radius: 5px;
    animation: placeholder 3s infinite;
    visibility: hidden;
}

.container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: fit-content;
    margin-bottom: 0;
}


/* Image styling */

.image img {
    max-width: 100%;
    height: auto;
    display: block;
    transition: transform 0.5s ease;
}


/*#################################*/


/* style buttons */


/*#################################*/

#input-info #input {
    padding: 5px;
    border-radius: 5px;
    width: 200px;
    height: 30px;
}

#input {
    background-color: #fff7fc;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    border-radius: 10px;
    border: #fff;
}

#input:hover {
    box-shadow: 0px 3px 8px rgba(2, 230, 40, 0.774);
    transition: 0.4s ease-in-out;
}

button {
    position: relative;
    color: #fff;
    text-decoration: none;
    border: #4CAF50;
    margin: 60px 10px;
    height: 40px;
    width: 9rem;
    border-radius: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    transition: 0.5s ease-in-out;
}

button:hover {
    background-color: #4CAF50;
    letter-spacing: 0.09em;
    transition: 0.5s ease-in-out;
    border: #4CAF50;
    box-shadow: 0px 3px 8px rgba(2, 230, 40, 0.774);
}

button::before {
    content: '';
    position: absolute;
    inset: 2px;
    background: #4CAF50;
}

span {
    position: relative;
    z-index: 1;
}

i {
    position: relative;
    inset: 0;
    display: block;
}

#input::placeholder {
    color: black;
}


/*####################################*/


/* STYLE FOR THE WEATHER WIDGET */


/*####################################*/

.grid-container {
    align-content: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    margin-top: 2rem;
    margin-left: 13rem;
}

.forecast,
.country,
.humidity,
.condition,
.wind,
.fahrenheit {
    margin-bottom: 5rem;
    color: #eee;
    text-decoration: solid;
}

.detail {
    border-radius: 10px;
    border-color: #eee;
}

.weather-info {
    border-radius: 25px;
    box-shadow: 3px 2px 4px #4CAF50(0, 0, 0, 0.3);
    border: 4px solid white;
    transition: 1s ease-in-out;
    background: rgba(35, 35, 39, 0.349);
}

.data {
    background-repeat: no-repeat;
    width: 1300px;
    margin: 0 auto;
    margin-top: -30px;
    padding: 10px 10px;
    letter-spacing: 2px;
    line-height: 1.5;
    font-size: medium;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    visibility: hidden;
}

.weather-info:hover {
    border: 4px solid#4CAF50;
    box-shadow: 0px 3px 8px #4CAF50(2, 176, 230, 0.774);
    padding: 10px 10px;
    transition: 1s ease-in-out;
}

.weather-info:hover .detail {
    visibility: visible;
}

#title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 3rem;
}

.active {
    visibility: visible;
}


/*#################################*/


/* Styling the Hero banner */


/*#################################*/

.hero {
    background-size: cover;
    position: relative;
    z-index: 1;
    margin-top: -80px;
}

@keyframes placeholder {
    0% {
        background-color: #ccc;
    }
    50% {
        background-color: #eee;
    }
    100% {
        background-color: #ccc;
    }
}

@media screen and (max-width: 768px) {
    .data {
        width: 80%;
    }
    h1 {
        font-size: 40px;
    }
}


/* ############################################# */


/******************WEEKLY CLIMATE*****************/


/* ############################################# */


/* DATE AND TIME */

.current-info {
    display: flex;
    justify-content: space-between;
    gap: 650px;
    flex-wrap: wrap;
    margin-top: 90px;
}

.date-container {
    font-weight: 100;
}

.date-container .time {
    font-size: 70px;
}

.date-container #am-pm {
    font-size: 30px;
    margin-left: 12px;
}

.date-container .date {
    font-size: 30px;
}

.place-container {
    text-align: end;
}

.place-container .time-zone {
    font-size: 30px;
    font-weight: 100;
}

.place-container .country {
    font-size: 12px;
    font-weight: 700;
}

.current-info .others {
    display: flex;
    flex-direction: column;
    background: rgba(24, 24, 27, 0.6);
    padding: 20px;
    border-radius: 10px;
    margin: 10px 0;
    border: 1px solid #eee;
}

.current-info .others .weather-item {
    display: flex;
    justify-content: space-between;
}


/* WEEK DAY INFO */

.future-forecast {
    background: rgba(35, 35, 39, 0.349);
    padding: 35px;
    bottom: 0;
    display: flex;
    color: white;
    width: 100%;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
    margin-top: 5rem;
    border-radius: 20px;
    height: 300px;
}

.future-forecast:hover {
    border: 4px solid #00b7ff;
    transition: 0.3s ease-in-out;
}

.future-forecast .today {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 15px;
    margin-top: 5rem;
    padding-right: 40px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2)
}

.future-forecast .today .day {
    padding: 5px 15px;
    background: #3c3c44;
    border-radius: 50px;
    text-align: center;
}

.future-forecast .today .temp {
    font-size: 13px;
    padding-top: 15px;
}

.future-forecast .weather-forecast {
    display: flex;
}

.weather-forecast .weather-forecast-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    border: 1px solid #eee;
    padding: 15px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2)
}

.weather-forecast .weather-forecast-item .day {
    padding: 5px 15px;
    background: #3C3C44;
    border-radius: 50px;
    text-align: center;
}

.weather-forecast .weather-forecast-item .temp {
    font-weight: 100;
    font-size: 12px;
}

@media only screen and (max-width:730px) {
    .container {
        padding: 20px;
        border-radius: 10px;
    }
    .future-forecast {
        justify-content: start;
        align-items: none;
        overflow-y: scroll;
    }
    .future-forecast .today .temp {
        font-size: 16px;
    }
    .date-container .time {
        font-size: 50px;
    }
    .date-container #am-pm {
        font-size: 20px;
    }
    .date-container .date {
        font-size: 20px;
    }
    .place-container {
        text-align: end;
        margin-top: 15px;
    }
    .place-container .time-zone {
        font-size: 20px;
    }
    .current-info .others {
        padding: 12px;
    }
    .current-info .others .weather-item {
        font-size: 14px;
    }
}

@media only screen and (max-width: 1400px) {
    .future-forecast {
        justify-content: start;
        align-items: none;
        overflow-x: scroll;
    }
}


/*#################################*/


/***** FOOTER *****/


/*#################################*/

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 4rem;
    margin-right: 4rem;
}

.logo img {
    width: 100px;
    height: auto;
}

.contact-info p {
    margin: 0;
}

.contact-button .btn {
    background-color: #fff;
    color: #333;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.contact-button .btn:hover {
    background-color: #4CAF50;
    color: #fff;
    transition: 0.5s ease-in-out;
}

.logo img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: transparent;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}


/* Position the logo on the left side */

.nav-logo {
    margin-right: 0;
    padding-left: 10px;
    padding-top: 2px;
}

.nav-logo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}